.advantages {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
}

.advantages__title {
  @include font(25px, 30px);
  margin-bottom: 30px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages__item {
  @include font(17px, 20px);
  padding-top: 54px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__item--flower {
  background: url("../img/icon-feature-flower.svg") no-repeat;
  background-position: 8px 0;
}

.advantages__item--money {
  background: url("../img/icon-feature-money.svg") no-repeat;
  background-position: 0 0;
}

.advantages__item--heart {
  background: url("../img/icon-feature-heart.svg") no-repeat;
  background-position: 7px 0;
}

.advantages__item--ball {
  background: url("../img/icon-feature-ball.svg") no-repeat;
  background-position: 3px 0;
}

.advantages__item--rocket {
  background: url("../img/icon-feature-rocket.svg") no-repeat;
  background-position: -6px 0;
}

.advantages__item--gift {
  background: url("../img/icon-feature-gift.svg") no-repeat;
  background-position: 3px 0;
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 17px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages__title {
    @include font(43px, 50px);
    margin-bottom: 50px;
  }

  .advantages__list {
    max-height: 500px;
  }

  .advantages__item {
    @include font(20px, 22px);
    padding-right: 40px;
    width: 50%;
    margin-bottom: 58px;
  }
}

@media (min-width: 1150px) {
  .advantages {
    padding-left: 225px;
    padding-right: 225px;
  }

  .advantages__title {
    @include font(53px, 57px);
    margin-top: 45px;
  }
}
