.copyright {
  padding: 26px 40px 0 40px;
}

.copyright__text {
  @include font(19px, 18px);
}

.copyright__link {
  display: block;
  min-height: 34px;
  font-size: 0;
  background: url("../../img/logo-htmlacademy.svg") no-repeat;
  background-position: right;

  &:hover,
  &:focus {
    background: url("../../img/logo-htmlacademy-hover.svg") no-repeat;
    background-position: right;
  }

  &:active {
    background: url("../../img/logo-htmlacademy-hover.svg") no-repeat;
    background-position: right;
    opacity: 0.3;
  }
}
