.copyright__text {
  @include font(19px, 18px);
  vertical-align: middle;
}

.copyright__link {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 34px;
  font-size: 0;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  position: absolute;
  bottom: 0;
  right: -5px;
  fill: $lightGreen;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: $darkGreen;
}

@media (min-width: 768px) {
  .copyright__link {
    padding-right: 56px;
    background-position-x: 156px;
  }
}
