.copyright__text {
  @include font(19px, 18px);
  vertical-align: middle;
}

.copyright__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 34px;
  font-size: 0;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 8px;

  &:hover,
  &:focus {
    background-image: url("../../img/logo-htmlacademy-hover.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  &:active {
    background-image: url("../../img/logo-htmlacademy-hover.svg");
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .copyright__link {
    padding-right: 56px;
    background-position-x: 156px;
  }
}
