.feedback {
  padding: 51px 30px 45px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 6px solid transparent;
  border-image-source: url("../../img/bg-zigzag-line.svg");
  border-image-slice: 60;
  border-image-repeat: round;
}

.feedback__title {
  @include font(25px, 30px);
  margin: 0;
  margin-bottom: 24px;
}

.feedback__list {
  @include list-reset;
  margin-bottom: 32px;
}

.feedback__item {
  display: flex;
  flex-direction: column;
}

.feedback__text {
  @include font(15px, 30px, #444444, 400);
  margin: 0;
  margin-bottom: 30px;
}

.feedback__text br {
  display: none;
}

.feedback__author {
  margin: 0;
}

.feedback__contacts {
  @include font(17px, 30px, #444444, 400);
  margin: 0;
}

.feedback__nav-wrapper {
  display: flex;
  margin-bottom: 38px;
  border: 1px solid #ececec;
}

.feedback__nav-button {
  display: block;
  width: 50%;
  height: 50px;
  font-size: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__nav-button--prev {
  background-image: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #ececec;
}

.feedback__nav-button--next {
  background-image: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .feedback {
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 103px 50px 85px 50px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 27px;
    border-bottom: 18px solid transparent;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .feedback__title {
    @include font(43px, 50px);
    margin-bottom: 49px;
  }

  .feedback__list {
    order: 2;
    flex-grow: 1;
  }

  .feedback__nav-wrapper {
    position: absolute;
    bottom: 118px;
    right: 52px;
    margin: 0;
    border: none;
  }

  .feedback__button-modal {
    margin-left: auto;
    min-width: 176px;
    align-self: flex-start;
  }

  .feedback__text {
    font-size: 17px;
    margin-bottom: 60px;
  }

  .feedback__author {
    font-size: 18px;
    margin-bottom: 2px;
  }

  .feedback__nav-button {
    min-width: 84px;
  }

  .feedback__nav-button--prev {
    border: none;
  }
}

@media (min-width: 1150px) {
  .feedback {
    padding-left: 225px;
    padding-bottom: 134px;
    border-bottom: 20px solid transparent;
    background-position-x: 51px;
    background-position-y: 36px;
  }

  .feedback__title {
    @include font(53px, 57px);
  }

  .feedback__text {
    margin-bottom: 42px;
  }

  .feedback__text br {
    display: initial;
  }

  .feedback__author {
    font-size: 17px;
  }

  .feedback__button-modal {
    margin-top: 10px;
  }

  .feedback__nav-wrapper {
    bottom: 169px;
  }
}
