.order {
  padding: 26px 0 55px;
}

.order__container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
  margin-bottom: 25px;
}

.order__container--color {
  margin-bottom: 12px;
}

.order__intro {
  @include font(13px, 24px, #000, 400);
  margin: 0;
  margin-bottom: 23px;
  padding: 0 30px;
}

.order__form-title {
  @include font(17px, 16px, $lightGreen, 700);
  display: block;
  width: 100%;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;

  &::after {
    @include pseudo();
    top: 8px;
    right: 0;
    width: calc(100% - 62px);
    height: 1px;
    background-color: #62d1ba;
  }
}

.order__form-title--email::after {
  width: calc(100% - 81px);
}

.order__type-label {
  @include font(17px, 18px);
  position: relative;
  display: block;
  padding: 10px 0 16px 62px;
}

.order__custom-radio {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    display: none;
    top: 11px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }
}

.order__type:checked + .order__type-label .order__custom-radio::before {
  display: block;
}

.order__type-label:hover .order__custom-radio,
.order__type-label:focus .order__custom-radio {
  border-color: #62d1ba;
}

.order__type-label:active .order__custom-radio {
  border-color: rgba(0, 0, 0, 0.3);
}

.order__color-label {
  @include font(17px, 18px);
  position: relative;
  display: block;
  padding: 13px 0 30px 62px;
}

.order__custom-checkbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    display: none;
    top: 11px;
    left: 9px;
    width: 20px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }
}

.order__color:checked + .order__color-label .order__custom-checkbox::before {
  display: block;
}

.order__color-label:hover .order__custom-checkbox,
.order__color-label:focus .order__custom-checkbox {
  border-color: #62d1ba;
}

.order__color-label:active .order__custom-checkbox {
  border-color: rgba(0, 0, 0, 0.3);
}

.order__form-title--person {
  margin-bottom: 27px;
}

.order__person-title {
  @include font(17px, 18px);
  display: block;
  margin: 0;
  margin-bottom: 10px;
}

.order__person {
  @include font(19px, 18px, #000, 400);
  padding: 8px 0 12px;
  margin-bottom: 21px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }
}

.order__person-field {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.order__person::placeholder {
  @include font(17px, 18px, rgba(0, 0, 0, 0.3), 400);
}

.order__container--person {
  margin-bottom: 9px;
}

.order__container--tel {
  position: relative;
  margin-bottom: 10px;
}

.order__form-title--tel {
  margin-bottom: 11px;
}

.order__tel {
  @include font(19px, 18px, #000, 400);
  padding: 8px 0 14px;
  margin-bottom: 21px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }
}

.order__tel::placeholder {
  @include font(17px, 18px, rgba(0, 0, 0, 0.3), 400);
}

.order__tel-title {
  position: absolute;
  top: 33px;
  right: 38px;
  display: block;
  font-size: 0;
}

.order__tel-icon {
  opacity: 0.2;
}

.order__tel:hover + .order__tel-title .order__tel-icon,
.order__tel:focus + .order__tel-title .order__tel-icon {
  opacity: 1;
  fill: #62d1ba;
}

.order__tel:active + .order__tel-title .order__tel-icon {
  opacity: 1;
  fill: #62d1ba;
}

.order__container--email {
  position: relative;
  margin-bottom: 10px;
}

.order__email {
  @include font(19px, 18px, #000, 400);
  padding: 8px 0 14px;
  margin-bottom: 21px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }
}

.order__email::placeholder {
  @include font(17px, 18px, rgba(0, 0, 0, 0.3), 400);
}

.order__email-title {
  position: absolute;
  top: 36px;
  right: 34px;
  display: block;
  font-size: 0;
}

.order__form-title--email {
  margin-bottom: 15px;
}

.order__email-icon {
  opacity: 0.2;
}

.order__email:hover + .order__email-title .order__email-icon,
.order__email:focus + .order__email-title .order__email-icon {
  opacity: 1;
  fill: #62d1ba;
}

.order__email:active + .order__email-title .order__email-icon {
  opacity: 1;
  fill: #62d1ba;
}

.order__cover-letter {
  @include font(19px, 18px, #000, 400);
  width: 100%;
  padding: 15px 15px 17px;
  border: 2px solid #000000;
  resize: none;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }
}

.order__cover-letter::placeholder {
  @include font(17px, 18px, rgba(0, 0, 0, 0.3), 400);
}

.order__container--cover-letter {
  margin-bottom: 17px;
}

.order__footer-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}

.order__note {
  @include font(14px, 16px, #000, 400);
  margin: 0;
  margin-bottom: 32px;
}

.order__submit {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .order {
    padding-top: 65px;
    padding-bottom: 52px;
  }

  .order__intro {
    @include font(17px, 30px, #000, 400);
    padding: 0 50px;
    margin-bottom: 25px;
  }

  .order__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 31px 50px 2px;
  }

  .order__form-title {
    margin-top: 20px;
    width: 25%;

    &::after {
      display: none;
    }
  }

  .order__wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .order__type-label {
    font-size: 19px;
    padding: 20px 0 20px 80px;
    margin-bottom: 18px;
  }

  .order__custom-radio {
    width: 52px;
    height: 52px;

    &::before {
      top: 14px;
      left: 14px;
      width: 20px;
      height: 20px;
    }
  }

  .order__bg-wrapper {
    background-color: #f1f1f1;
    padding-top: 19px;
    padding-bottom: 16px;
  }

  .order__color-label {
    font-size: 19px;
    padding: 20px 0 20px 80px;
    margin-bottom: 18px;
    width: 50%;
  }

  .order__custom-checkbox {
    width: 54px;
    height: 52px;

    &::before {
      top: 11px;
      left: 9px;
      width: 30px;
      height: 17px;
    }
  }

  .order__container--color {
    padding-right: 34px;
  }

  .order__person-field {
    flex-direction: row;
    width: 100%;
    padding-top: 3px;
  }

  .order__person-title {
    font-size: 19px;
    margin: 0;
    margin-right: 25px;
    padding-top: 15px;
  }

  .order__person {
    padding: 15px 0 13px 18px;
  }

  .order__person::placeholder {
    font-size: 19px;
  }

  .order__container--person {
    padding-top: 45px;
    margin-bottom: 26px;
  }

  .order__tel {
    margin: 0;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 17px;
    padding-top: 15px;
  }

  .order__tel::placeholder {
    font-size: 19px;
  }

  .order__tel-title {
    top: 43px;
    right: 75px;
  }

  .order__container--tel {
    margin-bottom: 0;
  }

  .order__email {
    margin: 0;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 17px;
    padding-top: 15px;
  }

  .order__email::placeholder {
    font-size: 19px;
  }

  .order__container--email {
    padding-top: 20px;
    padding-bottom: 34px;
    margin-bottom: 0;
  }

  .order__email-title {
    top: 33px;
    right: 72px;
  }

  .order__cover-letter {
    width: 75%;
  }

  .order__cover-letter::placeholder {
    font-size: 19px;
  }

  .order__container--cover-letter {
    padding-top: 48px;
    margin-bottom: 53px;
  }

  .order__footer-container {
    padding: 0 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .order__note {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }

  .order__submit {
    min-width: 230px;
  }
}

@media (min-width: 1150px) {
  .order {
    padding-top: 108px;
    padding-bottom: 52px;
  }

  .order__intro {
    padding: 0 225px;
    margin-bottom: 25px;
  }

  .order__form-title {
    width: 16.5%;
    text-align: center;
    padding-right: 10px;
  }

  .order__wrapper {
    width: 83.5%;
  }

  .order__type-label {
    width: 100%;
  }

  .order__color-label {
    width: 29.5%;
  }

  .order__container--person {
    padding-right: 225px;
  }

  .order__form-title--person {
    padding-left: 30px;
  }

  .order__person-field {
    padding-left: 31px;
  }

  .order__bg-wrapper {
    padding-top: 18px;
  }

  .order__container--tel {
    padding-right: 225px;
  }

  .order__tel {
    width: 83.5%;
  }

  .order__tel-title {
    top: 43px;
    right: 232px;
  }

  .order__form-title--tel {
    padding-left: 26px;
    margin-right: 35px;
  }

  .order__container--email {
    padding-right: 225px;
  }

  .order__email {
    width: 83.5%;
  }

  .order__form-title--email {
    padding-left: 48px;
    margin-right: 35px;
  }

  .order__email-title {
    top: 33px;
    right: 229px;
  }

  .order__container--cover-letter {
    padding-right: 225px;
    margin-bottom: 50px;
  }

  .order__form-title--letter {
    margin-right: 34px;
    padding-left: 30px;
  }

  .order__cover-letter {
    width: 83.5%;
  }

  .order__footer-container {
    padding: 0 225px;
  }
}
