.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 26px 30px 30px 30px;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__logo {
  display: none;
  cursor: pointer;
  text-align: center;
  width: 102px;
  height: 34px;
}

.page-footer__copyright {
  padding: 14px 40px 0 40px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 36px 50px 30px 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo:hover .page-footer__logo-image,
  .page-footer__logo:focus .page-footer__logo-image {
    fill: $darkGreen;
  }

  .page-footer__logo:active .page-footer__logo-image {
    opacity: 0.3;
  }

  .page-footer__copyright {
    padding-right: 0;
  }
}
