.purchase-list {
  @include list-reset;
}

.purchase-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec;
  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 30px 32px;


  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
    background-image: url("../../img/icon-cart-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.purchase-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  color: inherit;
}

@media (min-width: 768px) {
  .purchase-list__item {
    min-width: 264px;
    border-top: none;
    border-left: 1px solid #ececec;
  }

  .purchase-list__link {
    padding: 32px 0 32px 83px;
  }
}
