.sale-list {
  @include list-reset;
  display: none;
}

.sale-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.sale-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  color: inherit;
}

@media (min-width: 1150px) {
  .sale-list {
    display: flex;
    flex-direction: row;
    font-size: 15px;
  }

  .sale-list__item {
    border: none;

    &:first-child {
      margin-right: 61px;
    }
  }

  .sale-list__link {
    padding: 18px 0 27px 0;
  }
}
