.site-search {
  position: relative;
  display: block;
  padding: 27px 30px 27px 76px;
  color: rgba(0, 0, 0, 1);
  border-top: 1px solid #ececec;
}

.site-search-icon {
  position: absolute;
  top: 32px;
  left: 31px;
  fill: rgba(0, 0, 0, 0.2);
}

.site-search:hover .site-search-icon,
.site-search:focus .site-search-icon {
  fill: $lightGreen;
}

.site-search:active .site-search-icon {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .site-search {
    min-width: 82px;
    padding: 32px 30px 32px 30px;
    border-top: none;
    border-left: 1px solid #ececec;
  }
}
