.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  color: inherit;
}

@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    font-size: 15px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    min-width: 167px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 5px;
  }
}

@media (min-width: 1150px) {
  .site-list {
    font-size: 17px;
  }

  .site-list__item:first-child {
    margin-right: 34px;
    border-right: 1px solid #ececec;
  }

  .site-list__link {
    padding-right: 36px;
    padding-top: 30px;
  }
}
