.week-offer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 36px 30px;
  border-bottom: 6px solid transparent;
  border-image-source: url("../../img/bg-zigzag-line.svg");
  border-image-slice: 60;
  border-image-repeat: round;
}

.week-offer__title {
  @include font(25px, 30px);
  letter-spacing: -1px;
  margin: 0;
}

.week-offer__promo {
  @include font(17px, 20px, $lightGreen);
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.week-offer__desc {
  @include font(15px, 24px, #444444, 400);
  margin: 0;
  margin-bottom: 20px;
}

.week-offer__params {
  margin-bottom: 28px;
}

.week-offer__link {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

.week-offer__price {
  @include font(17px, 24px, #444444);
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
}

.week-offer__wrapper {
  position: relative;
}

.week-offer__purchase {
  width: 100%;
}

@media (min-width: 768px) {
  .week-offer {
    flex-direction: row;
    padding: 48px 50px 48px 50px;
    border-bottom: 18px solid transparent;
  }

  .week-offer__title {
    @include font(43px, 50px);
  }

  .week-offer__promo {
    align-self: center;
    max-width: 90px;
    text-align: center;
    line-height: 17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .week-offer__wrapper {
    margin-top: 52px;
    padding-right: 377px;
  }

  .week-offer__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 333px;
    margin-bottom: 0;
  }

  .week-offer__desc {
    @include font(17px, 30px, #444444, 400);
    margin-bottom: 40px;
  }

  .week-offer__params {
    margin-bottom: 52px;
  }

  .week-offer__price {
    @include font(20px, 24px);
    text-align: center;
    padding-right: 14px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1150px) {
  .week-offer {
    padding-top: 110px;
    padding-bottom: 74px;
    border-bottom: 20px solid transparent;
  }

  .week-offer__title {
    @include font(53px, 57px);
    order: 2;
    margin-left: 44px;
  }

  .week-offer__promo {
    margin-left: 37px;
  }

  .week-offer__wrapper {
    order: 3;
    margin-top: 50px;
    padding-left: 175px;
    padding-right: 582px;
  }

  .week-offer__desc {
    margin-bottom: 52px;
  }

  .week-offer__params {
    margin-bottom: 102px;
  }

  .week-offer__link {
    z-index: -1;
    top: -164px;
    width: 525px;
  }
}
