


.clients__list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #DFDFDF;
  width: 100%;
}

.clients__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients__logo {
  order: 1;
}

.clients__contacts {
  order: 2;
  margin-left: auto;
  width: 50%;
  text-align: end;
}

.clients__contacts-site {
  font-family: "Jura", "Arial", sans-serif;
font-weight: 700;
font-size: 28px;
line-height: 16px;
  color: #000000;
}

.clients__title {
  order: 3;
  width: 57%;
  font-family: "Jura", "Arial", sans-serif;
font-weight: 700;
font-size: 73px;
line-height: 41px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

.clients__text {
  order: 4;
  margin-left: auto;
  width: 25%;
  font-size: 18px;
line-height: 22px;
text-align: right;
text-transform: lowercase;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  padding-right: 36px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.social__link {
  display: block; }

.social__icon {
  fill: #231f20; }
  .social__icon:hover, .social__icon:focus {
    fill: #63d1bb; }
  .social__icon:active {
    fill: #63d1bb;
    opacity: 0.3; }

.production {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.production__wrapper {
  width: 20%;
}

.production__title {
  font-weight: 700;
font-size: 35px;
line-height: 42px;
}

.production__text {
  font-size: 14px;
line-height: 16px;
text-transform: lowercase;
}

.production__poster {
  display: none;
}

.production__more {
  font-weight: 700;
font-size: 14px;
line-height: 17px;
  color: #000000;
}

.production__play-btn {
  display: none;
}

.production__video {
  width: 30%;
}

.production__info-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.production__features {
  width: 40%;
  padding: 30px 20px;
  font-size: 16px;
line-height: 19px;
  color: #ffffff;
  background-color: tomato;
}


.production__features-photo {
  width: 40%;
}

.producion__features-more {

}

.production__performers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
}

.production__performers-item {
  background-color: #1B1D1B;
}

.production__performers-name {
  color: #ffffff;
  font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.production__performers-text {
  font-size: 11px;
line-height: 14px;
  color: #ffffff;
text-transform: lowercase;
}

.performers__wrapper {
  position: relative;
}

.performers__title {
  text-transform: lowercase;
  font-family: Jura;
font-weight: 300;
font-size: 25px;
line-height: 41px;
}

.performers__list {
    list-style: none;
  margin: 0;
  padding: 0;
}

.performers__name {
  max-width: 30%;
  font-size: 100px;
line-height: 98px;
}

.performers__position {
  font-size: 40px;
line-height: 48px;
}

.performers__photo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 1000px;
  height: 740px;
  background-color: rgba(0, 0, 0, 0.3);
}

.performers__nav-counter {
  font-size: 40px;
line-height: 48px;
}

/*# sourceMappingURL=style.css.map */
