@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Light.woff2") format("woff2"), url("../fonts/Stolzl-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/*@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Regular.woff2") format("woff2"), url("../fonts/Stolzl-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }*/

@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Bold.woff2") format("woff2"), url("../fonts/Stolzl-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Regular.woff2") format("woff2"), url("../fonts/Jura-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Bold.woff2") format("woff2"), url("../fonts/Jura-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Stolzl", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: black;
  background-color: #F6F6F6; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px; }

/*@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 50px; } }

@media (min-width: 1150px) {
  .container {
    width: 1150px; } }
*/

.page-header {
  background-color: #F6F6F6;
}

.page-header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
  cursor: pointer;
  text-align: center;
  width: 166px;
  height: 39px; }
  .page-header__logo:focus, .page-header__logo:hover {
    opacity: 0.6; }
  .page-header__logo:active {
    opacity: 0.3; }

.page-header__title {
  margin: 0;
  font-size: 15px;
  line-height: 23px;
}

/*@media (min-width: 768px) {
  .page-header {
    background-image: linear-gradient(to bottom, #ffffff 88px, #ececec 88px, #ececec 89px, #f9f9f9 89px); }
  .page-header--inner {
    background-image: linear-gradient(to bottom, #ffffff 88px, #ececec 88px, #ececec 89px, #f1f1f1 89px); }
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none; }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 48px;
    width: 113px;
    height: 46px; }
  .page-header__logo-image {
    width: 113px;
    height: 46px; } }

@media (min-width: 1150px) {
  .page-header__logo {
    position: absolute;
    top: -14px;
    left: 500px;
    width: 148px;
    height: 73px; }
  .page-header__logo-image {
    width: 148px;
    height: 73px; } }
*/

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 90px;
}

/*.main-nav__wrapper {
  display: none; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
  border: none; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  -webkit-box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
          box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 26px;
    width: 27px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav__delivery {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  display: none;
  margin: 0;
  text-align: center;
  padding-top: 18px; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
  .main-nav--closed .purchase-list__item {
    display: none; }
  .main-nav--closed .site-search {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .purchase-list__item {
    display: block; }
  .main-nav--nojs .site-search {
    display: block; } }

@media (min-width: 768px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .main-nav__toggle {
    display: none; }
  .main-nav__search {
    font-size: 0;
    margin-left: auto; }
  .main-nav__purchase-list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-nav__list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: auto; }
  .main-nav__delivery {
    display: block; } }

@media (min-width: 1150px) {
  .main-nav__purchase-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .main-nav__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .main-nav__search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-nav__wrapper {
    width: 100%;
    margin-left: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .main-nav__delivery {
    margin-left: auto; } }
*/
.main-nav__toggle {
  display: none;
}

.main-nav__toggle, .main-nav__toggle-trigger, .main-nav__toggle-burger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 28px;
  right: 136px;
      transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}


.main-nav__toggle-burger {
      top: 40px;
    right: 148px;
    width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1B1D1B;
   box-shadow: -12px 0px #1B1D1B,
     12px 0px #1B1D1B,
     12px 12px #1B1D1B,
     -12px -12px #1B1D1B,
     12px -12px #1B1D1B,
     -12px 12px #1B1D1B;
}
.main-nav__toggle-burger:before {
    position: absolute;
      width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1B1D1B;
    content: "";
    top: -12px;
    left: 0;
}
.main-nav__toggle-burger:after {
    position: absolute;
      width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1B1D1B;
    content: "";
    top: 12px;
    left: 0;
}



.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger {
    transform: rotate(180deg);
       box-shadow:
     12px 12px #1B1D1B,
     -12px -12px #1B1D1B,
     12px -12px #1B1D1B,
     -12px 12px #1B1D1B;
    transition: transform .2s ease;
}

.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger:before {
    transform: rotate(45deg) translateX(-5px);
  display: none;
    transition: transform .2s ease;
}
.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger:after {
    transform: rotate(-45deg) translateX(-5px);
  display: none;
    transition: transform .2s ease;
}

.main-nav__additional-list {
  display: none;
    position: absolute;
    margin: 0; 
  padding: 0;
  top: 50px;
  right: 0;
    width: 110px;
    height: 110px;
    background-color: tomato;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
.main-nav__toggle:checked + .main-nav__toggle-trigger + .main-nav__toggle-burger + .main-nav__additional-list {
    animation: checked-anim 1s ease both;
}
.main-nav__toggle:checked + .main-nav__toggle-trigger ~ .main-nav__additional-list {
    display: block;
}



.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 19px;
line-height: 23px;
  text-transform: lowercase;
 }

.main-nav__list {
  margin-left: 150px;
}

.site-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec; }
  .site-list__item:hover, .site-list__item:focus {
    text-decoration: underline; }
  .site-list__item:active {
    color: rgba(0, 0, 0, 0.3); }

.site-list__link {
  display: block;
  padding: 20px 10px;
  color: inherit; }
/*
@media (min-width: 768px) {
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 15px; }
  .site-list__item {
    border: none; }
  .site-list__link {
    min-width: 167px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 5px; } }

@media (min-width: 1150px) {
  .site-list {
    font-size: 17px; }
  .site-list__item:first-child {
    margin-right: 34px;
    border-right: 1px solid #ececec; }
  .site-list__link {
    padding-right: 36px;
    padding-top: 30px; } }
*/

.additional-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.purchase-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec;
  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 30px 32px; }
  .purchase-list__item:hover, .purchase-list__item:focus {
    color: rgba(0, 0, 0, 0.6);
    background-image: url("../../img/icon-cart-hover.svg"); }
  .purchase-list__item:active {
    opacity: 0.3; }

.purchase-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  color: inherit; }

/*@media (min-width: 768px) {
  .purchase-list__item {
    min-width: 264px;
    border-top: none;
    border-left: 1px solid #ececec; }
  .purchase-list__link {
    padding: 32px 0 32px 83px; } }
*/

.preview {
 background-color: #F6F6F6;
}

.preview__wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 130px;
}

.preview__name {
  display: block;
  width: 85%;
  width: 537px;
  height: 275px;
}

.preview__text {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin-left: auto;
  transform: rotate(270deg);

font-family: Jura;
font-style: normal;
font-weight: normal;
font-size: 29px;
line-height: 35px;
text-transform: lowercase;
}

.preview__numbers {
    position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transform: rotate(270deg);
  font-family: Jura;
font-style: normal;
font-weight: bold;
font-size: 125px;
line-height: 73px;

}

.preview__video {
  max-width: 612px;
    margin-left: auto;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.6);
}

.preview__video-text {
  margin: 0;
  font-size: 24px;
line-height: 29px;
  color: #ffffff;
text-transform: lowercase;
}

.button {
  padding: 5px 10px;
  background-color: #000000;
  font-size: 19px;
line-height: 23px;
  color: #ffffff;
  text-transform: lowercase;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #1B1D1B;
}

.advantages__title {
  width: 22%;

font-size: 36px;
line-height: 43px;
text-transform: lowercase;
  color: #FFFFFF;
}

.advantages__list {
  width: 70%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 25%;
}

.advantages__item-title {
  margin: 0;
  padding: 0;
  font-weight: 800;
font-size: 18px;
line-height: 22px;
  color: #FFFFFF;
}

.advantages__text {
  margin: 0;
  font-size: 14px;
line-height: 16px;
text-transform: lowercase;
  color: #ffffff;
}

.work-examples__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.work-examples__title {
  font-family: "Jura", "Arial", sans-serif;
  font-weight: 700;
font-size: 73px;
line-height: 65px;
  text-transform: lowercase;
}

.work-examples__preview-wrapper {
  padding-top: 20px;
  width: 40%;
}

.work-examples__text {
font-size: 14px;
line-height: 16px;
}

.work-examples__owner {
  margin-left: auto;
  min-width: 50%;
  background-color: #1B1D1B;
  padding: 20px;
}

.work-examples__owner-name {
  font-weight: 700;
font-size: 20px;
line-height: 24px;
  color: #ffffff;
}

.work-examples__owner-text {
font-size: 14px;
line-height: 16px;
  color: #ffffff;
}

.work-examples__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.work-examples__item {
  background-color: #ffffff;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 420px;
}

.work-examples__item:hover {
  background-color: tomato;
}

.work-examples__item:hover .work-examples__item-btn {
  display: none;
}

.work-examples__item:hover .work-examples__item-text {
  display: block;
}

.work-examples__item:hover .work-examples__item-link {
  display: block;
}

.work-examples__item-btn {
  font-weight: 700;
font-size: 14px;
line-height: 17px;
}

.work-examples__item-text {
  display: none;
  font-size: 16px;
line-height: 24px;
  color: #ffffff
}

.work-examples__item-link {
  display: none;
}

.clients__list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #DFDFDF;
  width: 100%;
}

.clients__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients__logo {
  order: 1;
}

.clients__contacts {
  order: 2;
  margin-left: auto;
  width: 50%;
  text-align: end;
}

.clients__contacts-site {
  font-family: "Jura", "Arial", sans-serif;
font-weight: 700;
font-size: 28px;
line-height: 16px;
  color: #000000;
}

.clients__title {
  order: 3;
  width: 57%;
  font-family: "Jura", "Arial", sans-serif;
font-weight: 700;
font-size: 73px;
line-height: 41px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

.clients__text {
  order: 4;
  margin-left: auto;
  width: 25%;
  font-size: 18px;
line-height: 22px;
text-align: right;
text-transform: lowercase;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  padding-right: 36px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.social__link {
  display: block; }

.social__icon {
  fill: #231f20; }
  .social__icon:hover, .social__icon:focus {
    fill: #63d1bb; }
  .social__icon:active {
    fill: #63d1bb;
    opacity: 0.3; }

.production {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.production__wrapper {
  width: 20%;
}

.production__title {
  font-weight: 700;
font-size: 35px;
line-height: 42px;
}

.production__text {
  font-size: 14px;
line-height: 16px;
text-transform: lowercase;
}

.production__poster {
  display: none;
}

.production__more {
  font-weight: 700;
font-size: 14px;
line-height: 17px;
  color: #000000;
}

.production__play-btn {
  display: none;
}

.production__video {
  width: 30%;
}

.production__info-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.production__features {
  width: 40%;
  padding: 30px 20px;
  font-size: 16px;
line-height: 19px;
  color: #ffffff;
  background-color: tomato;
}


.production__features-photo {
  width: 40%;
}

.producion__features-more {

}

.production__performers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
}

.production__performers-item {
  background-color: #1B1D1B;
}

.production__performers-name {
  color: #ffffff;
  font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.production__performers-text {
  font-size: 11px;
line-height: 14px;
  color: #ffffff;
text-transform: lowercase;
}

.performers__wrapper {
  position: relative;
}

.performers__title {
  text-transform: lowercase;
  font-family: Jura;
font-weight: 300;
font-size: 25px;
line-height: 41px;
}

.performers__list {
    list-style: none;
  margin: 0;
  padding: 0;
}

.performers__name {
  max-width: 30%;
  font-size: 100px;
line-height: 98px;
}

.performers__position {
  font-size: 40px;
line-height: 48px;
}

.performers__photo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 1000px;
  height: 740px;
  background-color: rgba(0, 0, 0, 0.3);
}

.performers__nav-counter {
  font-size: 40px;
line-height: 48px;
}

/*# sourceMappingURL=style.css.map */
