@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: black;
  background-color: white; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px; }

/*@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 50px; } }

@media (min-width: 1150px) {
  .container {
    width: 1150px; } }
*/
.page-header__wrapper {
  position: relative;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
  cursor: pointer;
  text-align: center;
  width: 166px;
  height: 39px; }
  .page-header__logo:focus, .page-header__logo:hover {
    opacity: 0.6; }
  .page-header__logo:active {
    opacity: 0.3; }

/*@media (min-width: 768px) {
  .page-header {
    background-image: linear-gradient(to bottom, #ffffff 88px, #ececec 88px, #ececec 89px, #f9f9f9 89px); }
  .page-header--inner {
    background-image: linear-gradient(to bottom, #ffffff 88px, #ececec 88px, #ececec 89px, #f1f1f1 89px); }
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none; }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 48px;
    width: 113px;
    height: 46px; }
  .page-header__logo-image {
    width: 113px;
    height: 46px; } }

@media (min-width: 1150px) {
  .page-header__logo {
    position: absolute;
    top: -14px;
    left: 500px;
    width: 148px;
    height: 73px; }
  .page-header__logo-image {
    width: 148px;
    height: 73px; } }
*/
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/*.main-nav__wrapper {
  display: none; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
  border: none; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  -webkit-box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
          box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 26px;
    width: 27px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav__delivery {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  display: none;
  margin: 0;
  text-align: center;
  padding-top: 18px; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
  .main-nav--closed .purchase-list__item {
    display: none; }
  .main-nav--closed .site-search {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .purchase-list__item {
    display: block; }
  .main-nav--nojs .site-search {
    display: block; } }

@media (min-width: 768px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .main-nav__toggle {
    display: none; }
  .main-nav__search {
    font-size: 0;
    margin-left: auto; }
  .main-nav__purchase-list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-nav__list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: auto; }
  .main-nav__delivery {
    display: block; } }

@media (min-width: 1150px) {
  .main-nav__purchase-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .main-nav__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .main-nav__search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-nav__wrapper {
    width: 100%;
    margin-left: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .main-nav__delivery {
    margin-left: auto; } }
*/
.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 }

.site-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec; }
  .site-list__item:hover, .site-list__item:focus {
    color: rgba(0, 0, 0, 0.6); }
  .site-list__item:active {
    color: rgba(0, 0, 0, 0.3); }

.site-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  color: inherit; }
/*
@media (min-width: 768px) {
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 15px; }
  .site-list__item {
    border: none; }
  .site-list__link {
    min-width: 167px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 5px; } }

@media (min-width: 1150px) {
  .site-list {
    font-size: 17px; }
  .site-list__item:first-child {
    margin-right: 34px;
    border-right: 1px solid #ececec; }
  .site-list__link {
    padding-right: 36px;
    padding-top: 30px; } }
*/

.additional-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.purchase-list__item {
  cursor: pointer;
  border-top: 1px solid #ececec;
  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 30px 32px; }
  .purchase-list__item:hover, .purchase-list__item:focus {
    color: rgba(0, 0, 0, 0.6);
    background-image: url("../../img/icon-cart-hover.svg"); }
  .purchase-list__item:active {
    opacity: 0.3; }

.purchase-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  color: inherit; }

/*@media (min-width: 768px) {
  .purchase-list__item {
    min-width: 264px;
    border-top: none;
    border-left: 1px solid #ececec; }
  .purchase-list__link {
    padding: 32px 0 32px 83px; } }
*/


/*# sourceMappingURL=style.css.map */
